<p>Button to take the user to all their tasks</p>
<p>Show a project</p>
<p>Has a way of displaying logged-in user's tasks distinct from other users' tasks?</p>
<p>Has a form for adding a new task that routes to '/projects/:id/tasks/new'.  It has a dropdown to assign the task to a person from @project.users</p>
<p>has a comment section (maybe in a sidebar?) As well as a form for submitting a new comment.  Form needs an attribute named 'commentable' with the project id, as well as an attribute named 'commentable_type' with the value as 'project' </p>